.box {
    margin-top: 10px;
    width: 90%;
    height: 200px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
}

img {
    width: 55%;
}

.information {
    display: block;
    width: 40%;
    background-color: brown;
    justify-content: space-between;
}

.mortgageId {
    display: flex;
    background-color: aquamarine;
    justify-content: center;
}

.propertyValue {
    display: flex;
    background-color: wheat;
    justify-content: center;
}

.area {
    display: flex;
    background-color: white;
    justify-content: center;
}

.capRate {
    display: flex;
    background-color: yellow;
    justify-content: center;
}

.address {
    display: flex;
    background-color: green;
    justify-content: center;
}

.buttonInvest {
    width: 100px;
}
