.box {
    margin-top: 10px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    border: outset;
    border-radius: 10px;
    box-shadow: 5px 5px lightgray;
    cursor: pointer;
}

.cardImg {
    width: 55%;
    margin-left: 5px;
}

.information {
    display: block;
    width: 50%;
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: 10px;
}

.mortgageId {
    display: flex;
    justify-content: flex-start;
}

.propertyValue {
    display: flex;
    justify-content: flex-start;
}

.area {
    display: flex;
    justify-content: flex-start;
}

.capRate {
    display: flex;
    justify-content: flex-start;
}

.address {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.buttonInvest {
    width: 100px;
}

.centerButton {
    margin-bottom: 5px;
    margin-left: 17%;
    display: flex;
}

.buttons-actions {
    display: flex;
    justify-content: space-around;
}


.container-cardProperty {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "up-left up-right"
        "down-left down-right";
    grid-gap: 0.2rem;
    /* background-color: rgb(70, 72, 72); */
}

.up-left {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.down-left {
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.up-right {
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px lightgray;
}

.down-right {
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px lightgray;
}
