.container {
    display: grid;
    height: 85vh;
    width: 75vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.2fr .5fr;
    grid-template-areas:
        "nav nav nav nav nav"
        "sidebar sidebar main main main"
        "sidebar sidebar main main main"
        "sidebar sidebar footer footer footer";
    grid-gap: 0.2rem;
}

nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
.sidebar{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    grid-area: sidebar;
    justify-content: center;
    align-items: flex-start;
}

footer{
    grid-area: footer;
}
